<h3>Game Modes</h3>
<div class="card m-a-2" style="width:318px; float:left" *ngFor="let gamemode of gamemodes">
    <!--<img class="card-img-top" src="../../public/assets/{{gamemode.imageurl}}" alt="{{gamemode.name}}" >-->
    <img class="card-img-top" src="/src/public/assets/flicktrain.jpg" alt="{{gamemode.image}}">
    <div class="card-block">
        <h4 class="card-title">{{gamemode.name}} {{gamemode.level}}</h4>
        <p class="card-text">{{gamemode.description}}.</p>
        <a href="#" class="btn btn-primary">Play</a>
    </div>
</div>

<!--onError="this.src='http://localhost:3000/public/assets/flicktrain.jpg';"-->


