/* You can add global styles to this file, and also import other style files */

$primary-colour: #89bdd3;
$secondary-colour: #9ad3de;
$primary-grey: #c9c9c9;
$secondary-grey: #e3e3e3;
//http://www.awwwards.com/web-design-awards/dream-team-katarzyna-konkowska

$container-width: 988px;

body {
  background-color: $secondary-grey !important;
}

.dashboard {
  margin-top: 20px;
}

#top-area {
  background-color: $primary-colour;

  a {
    color: white;
  }
}


